# Some software overwrites my configuration without any notices (like boxen).
# It discourages to keep the portability so that I write a specific configurations
# in a separated ( this ) file.

[include]
  path = ~/.my.gitconfig
  path = ~/.local.gitconfig

