[submodule ".vimperator/repositories/vimperator-plugins"]
	path = .vimperator/repositories/vimperator-plugins
	url = git@github.com:vimpr/vimperator-plugins.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
